
body {
    position: relative;
 }
#section1 {padding-top:50px;height:500px;}
#section2 {padding-top:50px;height:500px;}
#section3 {padding-top:50px;height:500px;}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}
